<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Censo Demográfico</title>
    <style>
      @page {
        size: "A4";
        margin: 1.0cm 1.5cm 1.0cm 1.5cm;
      }
    </style>
  </head>

  <body>
    <main class="container">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Bloque</th>
            <th>Total de Viviendas</th>
            <th>Total de Familias</th>
            <th>Total de Personas</th>
            <th>Mayor de 15 Años Hembras</th>
            <th>Mayor de 15 Años Varones</th>
            <th>Menor de 15 Años Hembras</th>
            <th>Menor de 15 Años Varones</th>
          </tr>
        </thead>
        <tbody>
          {% for c in census %}
            <tr>
              <td>{{ c.block }}</td>
              <td>{{ c.departments }}</td>
              <td>{{ c.families }}</td>
              <td>{{ c.people }}</td>
              <td>{{ c.females_gt_15 }}</td>
              <td>{{ c.males_gt_15 }}</td>
              <td>{{ c.females_lt_15 }}</td>
              <td>{{ c.males_lt_15 }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </main>
  </body>
</html>
