{% extends 'base/base.html' %}
{% load i18n %}
{% load auth_extra %}
{% block breadcrumb %}
  <li class="breadcrumb-item active">
    Filtros
  </li>
{% endblock %}
{% block content %}
  <age></age>
  <br>

  <voters></voters>
  <br>

  {% if request.user|has_group:'Líder de Comunidad' %}
    <!-- card - BEGIN -->
    <div class="card">
      <div class="card-header">
        Censo Demográfico
      </div>
      <!-- card body - BEGIN -->
      <div class="card-body">
        <a href="{% url 'base:demographic_census' %}" target="_blank">Descargar Censo Demográfico</a>
      </div>
      <!-- card body - END -->
    </div>
    <!-- card - END -->
    <br>

    <!-- card - BEGIN -->
    <div class="card">
      <div class="card-header">
        Plan Vacacional
      </div>
      <!-- card body - BEGIN -->
      <div class="card-body">
        <a href="{% url 'base:vacation_plan' %}" target="_blank">Descargar Plan Vacacional</a>
      </div>
      <!-- card body - END -->
    </div>
    <!-- card - END -->
    <br>

    <!-- card - BEGIN -->
    <div class="card">
      <div class="card-header">
        Censo Sociodemográfico
      </div>
      <!-- card body - BEGIN -->
      <div class="card-body">
        <a href="{% url 'base:sociodemographic' %}" target="_blank">Descargar censo sociodemográfico</a>
      </div>
      <!-- card body - END -->
    </div>
    <!-- card - END -->
    <br>
  {% endif %}
{% endblock %}
