{% load auth_extra %}
<ul class="sidebar navbar-nav">
  <li class="nav-item" id="ba">
    <a class="nav-link" href="{% url 'base:home' %}">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Inicio</span>
    </a>
  </li>
  {% if request.user.is_authenticated %}
    {% if request.user|has_group:'Nivel Ubch' %}
      <li class="nav-item" id="ubch">
        <a class="nav-link" href="{% url 'user:community_leader_list' %}">
          <i class="fas fa-fw fa-user-plus"></i>
          <span>Líder de Comunidad</span>
        </a>
      </li>
    {% elif request.user|has_group:'Líder de Comunidad' %}
      <li class="nav-item" id="lc">
        <a class="nav-link" href="{% url 'user:street_leader_list' %}">
          <i class="fas fa-fw fa-user-plus"></i>
          <span>Líder de Calle</span>
        </a>
      </li>
      <li class="nav-item" id="pe">
        <a class="nav-link" href="{% url 'base:export_excel' %}">
          <i class="fas fa-fw fa-file-word"></i>
          <span>Descargar Archivo</span>
        </a>
      </li>
    {% elif request.user|has_group:'Líder de Calle' %}
      <li class="nav-item" id="pe">
        <a class="nav-link" href="{% url 'user:family_group_list' %}">
          <i class="fas fa-fw fa-user-plus"></i>
          <span>Grupo Familiar</span>
        </a>
      </li>
    {% endif %}
  {% endif %}
</ul>
